<!-- Header-->
<header class=" py-5" style="background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Categories</h1>
            <!-- <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p> -->
        </div>
    </div>
</header><br>

<div class="row">
    <div class="col-sm-12">
        <form class="d-flex" style="float: right;">
            <a class="nav-link" routerLink="/categories1">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Add Categories
                </button></a>
        </form>
    </div>
</div><br>

<div class="row">
    <table class="table" style="width: 80%;margin: auto;">
        <thead style="background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);">
            <tr>
                <th style="width:30%;text-align: center;">#</th>
                <th style="width:70%;text-align: center;">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let result of results">
                <td style="width:30%;text-align: center;">{{ result.categoryId }}</td>
                <td style="width:70%;text-align: center;">{{ result.categoryName }}</td>
            </tr>

        </tbody>
    </table>


</div><br>
<!-- <div class="row">
    <div class="col-sm-12">
        <form class="d-flex" style="float: right;">
            <button class=" btn btn-outline-dark" type="submit">
                <i class=" bi-cart-fill me-1"></i>
                Add Categories
            </button>
        </form>
    </div>
</div><br>
<div class="row">

<div class="col-sm-4">
    <div class="container">
        <img src="/assets/1.jpg" alt="food" class="image" style="width:  400px;height: 300px;">
        <div class="middle">
            <div class="text">Food</div>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="container">
        <img src="/assets/2.jpg" alt="food" class="image" style="width: 400px;height: 300px;">
        <div class="middle">
            <div class="text">Beverages</div>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="container">
        <img src="/assets/3.jpg" alt="food" class="image" style="width: 400px;height: 300px;">
        <div class="middle">
            <div class="text">Sweets</div>
        </div>
    </div>
</div>
</div>
<br> -->
<!-- Footer-->
<footer class="py-5" style="background-color: #30cfd0;">

</footer>